<!DOCTYPE html>
<html>

<body>

    <p><b>Registered successfully!</b> </p>
    <button class="btn btn-sm btn-primary" onclick="window.location='/login';" , value="click here">Please
        Login</button>
</body>

</html>